<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GWAP_DAY2</display-name>
  <!-- <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list> -->
  
  
   <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
  		<servlet-name>userManageServlet</servlet-name>
  	    <servlet-class>web.userManageServlet</servlet-class>
  </servlet>
  
   <servlet>
  		<servlet-name>orderDetailServlet</servlet-name>
  	<servlet-class>web.orderDetailServlet</servlet-class>
  </servlet>
  
   <servlet>
  		<servlet-name>orderListServlet</servlet-name>
  	<servlet-class>web.orderListServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>

  	<servlet-name>userManageServlet</servlet-name>
  	<url-pattern>/userManage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>

  	<servlet-name>orderDetailServlet</servlet-name>
  	<url-pattern>/orderDetail</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>

  	<servlet-name>orderListServlet</servlet-name>
  	<url-pattern>/orderList</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>userModifyServlet</servlet-name>
  	<servlet-class>web.userModifyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userRegisterServlet</servlet-name>
  	<servlet-class>web.userRegisterServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>userModifyServlet</servlet-name>
  	<url-pattern>/userModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userRegisterServlet</servlet-name>
  	<url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>productDetailServlet</servlet-name>
  	<servlet-class>web.productDetailServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>productDetailServlet</servlet-name>
  	<url-pattern>/productDetail</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>productListServlet</servlet-name>
  	<servlet-class>web.productListServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>productListServlet</servlet-name>
  	<url-pattern>/productList</url-pattern>
  </servlet-mapping>


 <servlet>
  	<servlet-name>orderConfirmServlet</servlet-name>
  	<servlet-class>web.orderConfirmServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>orderConfirmServlet</servlet-name>
  	<url-pattern>/orderConfirm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>shoppingCartServlet</servlet-name>
  	<servlet-class>web.shoppingCartServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>shoppingCartServlet</servlet-name>
  	<url-pattern>/shoppingCart</url-pattern>
  </servlet-mapping>


<servlet>
  	<servlet-name>StudentListServlet</servlet-name>
  	<servlet-class>web.StudentListServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>StudentListServlet</servlet-name>
  	<url-pattern>/studentList</url-pattern>
  </servlet-mapping>
	
   <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>
</web-app>